div {
  margin: 10px;
}

.linhas-tabela{
  margin-bottom: 10px
}

#container {
  margin: 10px;
}

.tarefa-cancelada {
  color: red;
  text-decoration: line-through;
}

.tarefa-finalizada{
  color: blue;
}

.button-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; 
}

.button-col ion-button {
  font-size: 80%; /* Reduz o tamanho da fonte do botão */
  padding: 0.25em 0.5em; /* Ajusta o espaçamento interno do botão */
}