#lista-item:hover,
// ion-row:not(:first-child):hover
#grid-item-excluir:hover {
  cursor: pointer;
  color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ion-row:nth-child(even){
  background-color: #8c8c8c;
}
// ion-row:nth-child(odd):not(:first-child){
//   background-color:whitesmoke;
// }

#container {
  margin: 10px;
}

.azul{
  color: blue;
}